<!DOCTYPE html>
{% load static %} <!-- css / js / img / ... 자원 관련 파일을 관리해주는 static 폴더 불러오기 -->
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- static 폴더호출 후 css파일이 있는 경로를 호출해 적용-->
<link rel="stylesheet" href="{% static 'photo/photo_test.css' %}">
</head>
<body>
	<!-- 
		Template : 사용자에게 보여지는 부분 (= Spring MVC의 V)
		웹 페이지의 영역
		Django에서는 HTML영역에서 [Template Tag]를 사용
		Template Tag : 파이썬 코드로 부터 데이터를 넘겨받아 손쉽게 처리 가능한 도구
						{}로 감싸는 형태
						데이터 입력, for/if등의 구문 사용 가능	
	 -->
	 <!-- 임의로 지정한 데이터 화면에 띄우기 -->
	<!--  <h1><a href=""> 사진 목록 페이지</a></h1>
	 <section>
	 	<div>
	 		<h2>
	 			<a href="">하이드라</a>
	 		</h2>
	 		<img src="https://w.namu.la/s/460178bc2d677d5be7425aa5b37103509ec04e3280341de49c58550229046ff01a9aa9e47ce25d736420f8ba0daf56576864b4f5830c7736a812ce75ff47198a06080fb69325abc47c8b4bfdf99968de8e39c20396fd785524ab15f93225fd4d22bd3349e689cc027b2dab79926082bc"
	 		alt="하이드라" width="300px">
	 		<p>Heim, 3000원</p>
	 	</div>
	 	<div>
	 		<h2>
	 			<a href="">파익선</a>
	 		</h2>
	 		<img src="https://images.velog.io/images/whdnjsdyd111/post/74a7e95e-374e-4415-b9d8-4de78853f307/%ED%8C%8C%EC%9D%B4%EC%8D%AC.png"
	 		alt="파이선" width="300px">
	 		<p>Heim, 3000원</p>
	 	</div>
	 	<div>
	 		<h2>
	 			<a href="">장고</a>
	 		</h2>
	 		<img src="https://m.media-amazon.com/images/M/MV5BMjIyNTQ5NjQ1OV5BMl5BanBnXkFtZTcwODg1MDU4OA@@._V1_.jpg"
	 		alt="장고" width="300px">
	 		<p>Heim, 3000원</p>
	 	</div>
	 </section> -->
	 
	 
	 <!-- admin사이트에서 입력한 데이터 출력하기 -->
	 <!-- 
	 	Template Tag 중 변수를 가져 올 때는 중괄호 2개씩
	 	변수의 속성에 접근할 때는 변수명.속성명으로 가능
	  -->
	<h1><a href="">사진 목록 페이지</a></h1>
	 <h2><a href="{% url 'photo_post'%}">NewPost</a></h2>
	 <section>
	 	{% for photo in photos %}
	 		<div>
	 			<h2>
	 				<a href="{% url 'photo_detail' pk=photo.pk %}">{{ photo.title }}</a>
	 			</h2>
	 		</div>
	 		<img src="{{ photo.image }}" alt="{{ photo.title}}" width="100px">
	 		<p>{{ photo.author }}, {{ photo.price }}원</p>
	 	{% endfor %}
	 </section>
	 
	 <img src="{% static 'photo/2022092715034348394_1664258624.jpg' %}" width="100px">
	 {% include 'photo/test.html' %} <!-- 짧은 코드 가져올 때 사용 -->

<!-- 	  {% block content %}
	  
	  {% endblock %}
	    -->
</body>
</html>












































