<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 
		Template : 사용자에게 보여지는 부분 (= Spring MVC의 V)
		웹 페이지의 영역
		Django에서는 HTML영역에서 [Template Tag]를 사용
		Template Tag : 파이썬 코드로 부터 데이터를 넘겨받아 손쉽게 처리 가능한 도구
						{}로 감싸는 형태
						데이터 입력, for/if등의 구문 사용 가능	
	 -->
	 <h1><a href=""> 사진 목록 페이지</a></h1>
	 <section>
	 	<div>
	 		<h2>
	 			<a href="">하이드라</a>
	 		</h2>
	 		<img src="https://w.namu.la/s/460178bc2d677d5be7425aa5b37103509ec04e3280341de49c58550229046ff01a9aa9e47ce25d736420f8ba0daf56576864b4f5830c7736a812ce75ff47198a06080fb69325abc47c8b4bfdf99968de8e39c20396fd785524ab15f93225fd4d22bd3349e689cc027b2dab79926082bc"
	 		alt="하이드라" width="300px">
	 		<p>Heim, 3000원</p>
	 	</div>
	 	<div>
	 		<h2>
	 			<a href="">파익선</a>
	 		</h2>
	 		<img src="https://images.velog.io/images/whdnjsdyd111/post/74a7e95e-374e-4415-b9d8-4de78853f307/%ED%8C%8C%EC%9D%B4%EC%8D%AC.png"
	 		alt="파이선" width="300px">
	 		<p>Heim, 3000원</p>
	 	</div>
	 	<div>
	 		<h2>
	 			<a href="">장고</a>
	 		</h2>
	 		<img src="https://m.media-amazon.com/images/M/MV5BMjIyNTQ5NjQ1OV5BMl5BanBnXkFtZTcwODg1MDU4OA@@._V1_.jpg"
	 		alt="장고" width="300px">
	 		<p>Heim, 3000원</p>
	 	</div>
	 </section>
</body>
</html>